---
const title = "Ranid Blog";
import Default from "@layouts/Default.astro";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
import rehypePresetMinify from "rehype-preset-minify";
import rehypeRaw from "rehype-raw";
import rehypeSanitize, { defaultSchema } from "rehype-sanitize";
import rehypeStringify from "rehype-stringify";
import remarkGfm from "remark-gfm";
import remarkParse from "remark-parse";
import remarkRehype from "remark-rehype";
import { unified } from "unified";
---

<Default pageTitle={title}>
  {
    posts.map(async (post) => {
      const split = post.body.split("<!--more-->");
      const excerpt = String(
        await unified()
          .use(remarkParse)
          .use(remarkGfm)
          .use(remarkRehype, { allowDangerousHtml: true })
          .use(rehypeRaw)
          .use(rehypeSanitize, {
            ...defaultSchema,
            tagNames: [...defaultSchema.tagNames, "small"],
            attributes: {
              ...defaultSchema.attributes,
              ol: [["reversed"]],
            },
          })
          .use(rehypeStringify)
          .process(split[0])
      );
      const link = "/blog/" + post.id;
      return (
        <div class="blogpost">
          <h4>
            <a href={link}>{post.data.title}</a>
          </h4>
          <h5>
            {post.data.date.toLocaleString("en-CA", {
              dateStyle: "short",
              timeStyle: "short",
            })}
          </h5>
          {post.data.updated && <h5>Updated {post.data.updated}</h5>}
          <Fragment set:html={excerpt} />
          {split[1] && (
            <p>
              <a href={link}>[View full post]</a>
            </p>
          )}
        </div>
      );
    })
  }
</Default>
