---
const pageTitle = "Ranid Friends";
const desc = "My friends :D";
import Default from "@layouts/Default.astro";
import "../styles/friends.css";

import { getCollection, render } from "astro:content";
const friends = await getCollection("friends");
---

<Default pageTitle={pageTitle} description={desc}>
  <ul class="contentlist">
    {
      friends.map(async (friend) => {
        await render(friend);
        return (
          <li class={"friend " + friend.id}>
            <h2>{friend.data.name}</h2>
            {friend.data.rawtext ? (
              <Fragment set:html={friend.data.text} />
            ) : (
              <p>{friend.data.text}</p>
            )}
            <p>
              <a href={friend.data.link}>visit here</a>
            </p>
          </li>
        );
      })
    }
  </ul>
</Default>
