---
import { siteConfig } from "src/config";

export interface Props {
  pageTitle: string;
  description?: string;
}

const { pageTitle, description = siteConfig.description } = Astro.props;
const canonUrl = new URL(Astro.url.pathname, Astro.site);
---

<meta charset="UTF-8" />
<title>{pageTitle}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content={description} />
<meta name="author" content={siteConfig.author.name} />
<meta name="canonical" content={canonUrl} />
<meta name="og:title" content={pageTitle} />
<meta name="og:description" content={description} />
<meta name="og:url" content={canonUrl} />
<meta name="og:site_name" content={siteConfig.title} />

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<link rel="alternate" type="application/atom+xml" href="/feed.atom" />
