---
import Default from "@layouts/Default.astro";

const { frontmatter, rawContent } = Astro.props;
const postdate = new Date(Date.parse(frontmatter.date)).toLocaleString(
  "en-CA",
  { dateStyle: "short", timeStyle: "short" }
);
const desc = rawContent().trim().split("\n\n")[0].replaceAll("\n", " ");
---

<Default pageTitle={frontmatter.title} description={desc} type="article">

  <h4>{frontmatter.title}</h4>
  <h5>{postdate}</h5>
  {frontmatter.updated && <h5>Updated {frontmatter.updated}</h5>}

  <slot />
</Default>
