---
import Default from "@layouts/Default.astro";

const { frontmatter, rawContent } = Astro.props;
const postdate = new Date(Date.parse(frontmatter.date)).toLocaleString(
  "en-CA",
  { dateStyle: "short", timeStyle: "short" }
);
const isoDate = new Date(Date.parse(frontmatter.date)).toISOString();
const isoUpdate = frontmatter.updated
  ? new Date(Date.parse(frontmatter.updated)).toDateString()
  : "";

const desc = rawContent().trim().split("\n\n")[0].replaceAll("\n", " ");
---

<Default pageTitle={frontmatter.title} description={desc} type="article">
  <article>
    <hgroup>
      <h2 class="blogtitle">{frontmatter.title}</h2>
      <p class="postdate"><time datetime={isoDate}>{postdate}</time></p>
      {
        frontmatter.updated && (
          <p class="postdate">
            Updated <time datetime={isoUpdate}>{frontmatter.updated}</time>
          </p>
        )
      }
    </hgroup>

    <slot />
  </article>
</Default>
